// Modal

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  // transform: scale(0.9);
}

.modal-enter-to,
.modal-leave-from {
  opacity: 1;
  // transform: scale(1);
}

.modal-enter-active {
  transition: all 0.3s ease-in-out;
}

.modal-leave-active {
  transition: all 0.3s ease-in-out;
}

// Hint

.hint-enter-from,
.hint-leave-to {
  opacity: 0;
  transform: translateY(-50%);
}

.hint-enter-to,
.hint-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.hint-enter-active {
  transition: all 0.3s ease-in-out;
}

.hint-leave-active {
  transition: all 0.3s ease-in-out;
}

// Text

.text-enter-from,
.text-leave-to {
  opacity: 0;
}

.text-enter-to,
.text-leave-from {
  opacity: 1;
}

.text-enter-active {
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.text-leave-active {
  transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
